<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    <title>VUE TODOLIST</title>
</head>

<body>
    <div id="app">
        <h1>Title</h1>
        <input type="text" placeholder="Aggiungi nuova nota" v-model="newItem" @keyUp.enter="addItem">
        <button @click="addItem">Aggiungi</button>
        <ul>
            <div v-for="(item, index) in toDoList" class="flex">
                <li :class="item.done ? 'sbarrato' : '' "> {{ item.text }} </li>
                <span @click="removeItem(index)">X</span>
            </div>
        </ul>
    </div>
</body>

</html>